<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../assets/css/contents2.css">

</head>
<body>
<div id="wrap">
	<div id="header" class="clearfix">
		<h1>MySite</h1>
		<ul>
			<li><a href="">로그인</a></li>
			<li><a href="">회원가입</a></li>
		</ul>
	</div>
	<div id="nav">
		<ul class="clearfix">
			<li>입사지원서</li>
			<li>게시판</li>
			<li>갤러리</li>
			<li>방명록</li>
		</ul>
	</div>
	<div id="contents" class="clearfix">
		<div id="aside">
			<h2>게시판</h2>
			
			<ul>
				<li>일반 게시판</li>
				<li>댓글 게시판</li>
				<li>첨부 게시판</li>
			</ul>
		</div>
		<div id="main">
			<div class="normal" class="clearfix">
				<h3>일반게시판</h2>
			
				<ul>
					<li class="main-bef">홈</li>
					<li class="main-bef">게시판</li>
					<li>일반게시판</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="footer">
		footer
	</div>
</div>
</body>
</html>